<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.ppl.cycleatlanta"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="15" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" >
    </uses-feature>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.gatech.ppl.cycleatlanta.TabsConfig"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.gatech.ppl.cycleatlanta.MainInputActivity"
            android:label="@string/title_activity_main_input" >
        </activity>
        <activity
            android:name="edu.gatech.ppl.cycleatlanta.TripPurposeActivity"
            android:label="@string/title_activity_trip_purpose" >
        </activity>
        <activity
            android:name="edu.gatech.ppl.cycleatlanta.UserInfoActivity"
            android:label="@string/title_activity_user_info" >
        </activity>
        <activity
            android:name="edu.gatech.ppl.cycleatlanta.TripMapActivity"
            android:label="@string/title_activity_trip_map" >
        </activity>
        <activity
            android:name="edu.gatech.ppl.cycleatlanta.SavedTripsActivity"
            android:label="@string/title_activity_saved_trips" >
        </activity>
        <activity
            android:name="edu.gatech.ppl.cycleatlanta.TripDetailActivity"
            android:label="@string/title_activity_trip_detail" >
        </activity>
        <activity
            android:name="edu.gatech.ppl.cycleatlanta.NoteTypeActivity"
            android:label="@string/title_activity_note_type" >
        </activity>
        <activity
            android:name="edu.gatech.ppl.cycleatlanta.NoteDetailActivity"
            android:label="@string/title_activity_note_detail" >
        </activity>
        <activity
            android:name="edu.gatech.ppl.cycleatlanta.NoteMapActivity"
            android:label="@string/title_activity_note_map" >
        </activity>
        <activity
            android:name="edu.gatech.ppl.cycleatlanta.SavedNotesActivity"
            android:label="@string/title_activity_saved_notes" >
        </activity>

        <service
            android:name="edu.gatech.ppl.cycleatlanta.RecordingService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="edu.gatech.ppl.cycleatlanta.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC2yCvl0Jt-gnztoITh7WTBABv3KdLeD1o" /> <!-- Default: AIzaSyC2yCvl0Jt-gnztoITh7WTBABv3KdLeD1o   Cycle Atlanta: AIzaSyCbkVPDzj-vsJY-kzRQfydOpApYNOC3DLk -->
    </application>

</manifest>